<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.cfm" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="course page" stopProcessing="true">
                    <match url="week1/(.*)/" />
                    <action type="Rewrite" url="/index.cfm?action=course&amp;page_url={R:1}&amp;week=week1" />
                </rule>
                <rule name="course default">
                    <match url="week1/" />
                    <action type="Rewrite" url="/index.cfm?action=course&amp;week=week1" />
                </rule>
                <rule name="pdf download">
                    <match url="download/pdf/" />
                    <action type="Rewrite" url="/index.cfm?action=download.pdf" />
                </rule>
                <rule name="Sample File download">
                    <match url="download/sample_files/" />
                    <action type="Rewrite" url="/index.cfm?action=download.sample_files" />
                </rule>
                <rule name="Contributor default">
                    <match url="contributors/" />
                    <action type="Rewrite" url="/index.cfm?action=contributors" />
                </rule>
                <rule name="Resources Default">
                    <match url="resources/" />
                    <action type="Rewrite" url="/index.cfm?action=resources" />
                </rule>
                <rule name="Search Page">
                    <match url="search/" />
                    <action type="Rewrite" url="/index.cfm?action=course.search" />
                </rule>
                <rule name="admin">
                    <match url="admin/" />
                    <action type="Rewrite" url="/index.cfm?action=admin:main" />
                </rule>
                <rule name="contact us">
                    <match url="contact/" />
                    <action type="Rewrite" url="/index.cfm?action=main.contact" />
                </rule>
                <rule name="sitemap.html">
                    <match url="sitemap.html" />
                    <action type="Rewrite" url="/index.cfm?action=main.sitemap" />
                </rule>
                <rule name="download epub">
                    <match url="download/epub/" />
                    <action type="Rewrite" url="/index.cfm?action=download.epub" />
                </rule>
                <rule name="spreadtheword">
                    <match url="spreadtheword/" />
                    <action type="Rewrite" url="/index.cfm?action=main.spreadtheword" />
                </rule>
                <rule name="download ebook">
                    <match url="download/ebook/" />
                    <action type="Rewrite" url="/index.cfm?action=download.ebook" />
                </rule>
                <rule name="feedback">
                    <match url="feedback/" />
                    <action type="Rewrite" url="/index.cfm?action=main.feedback" />
                </rule>
                <rule name="ask question">
                    <match url="askquestion/" />
                    <action type="Rewrite" url="/index.cfm?action=main.askquestion" />
                </rule>
                <rule name="create database">
                    <match url="install/createdatabase/" />
                    <action type="Rewrite" url="/index.cfm?action=main.create_database" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
